/* MealList.module.css */
.mealListContainer {
  background-color: #fff3e0;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.mealItem {
  padding: 10px;
  border-bottom: 1px solid #ffe0b2;
}

.mealItem:last-child {
  border-bottom: none;
}

.mealItem p {
  margin: 3px 0;
}
